---
import Intro from '../components/Intro.astro'
import MyEvents from '../components/MyEvents.astro';
---

<html>
  <head>
    <style global lang='css'>
      body {
        font-family: 'system-ui';
        padding: 16px;
        max-width: 1140px;
        margin: 0 auto;
        line-height: 1.5rem;
      }
      p {
        word-break: break-word;
      }
    </style>
  </head>
  <body>
    <Intro />
    <MyEvents />
  </body>
</html>

