---
import Intro from '../components/Intro.astro'
import StaticEvents from '../components/StaticEvents.astro';
import DynamicEvents from '../components/DynamicEvents.jsx'
---

<html>
  <head>
    <style global lang='css'>
      body {
        font-family: 'system-ui';
        padding: 16px;
        max-width: 1140px;
        margin: 0 auto;
        line-height: 1.5rem;
      }
      p {
        word-break: break-word;
      }
    </style>
    <style lang='css'>
      .card-grid {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 24px;
        margin-bottom: 48px;
        min-height: 500px;
      }
        
      @media screen and (min-width: 40em) {
        .card-grid {
          grid-template-columns: 1fr 1fr;
        }
      }
      </style>
  </head>
  <body>
    <Intro />
    <div class='card-grid'>
      <StaticEvents username='PaulieScanlon' />
      <div>
      <DynamicEvents client:load username='gatsbyjs' repo='gatsby'/>
      <DynamicEvents client:load username='snowpackjs' repo='astro'/>
      </div>
    </div>
  </body>
</html>

