

<div class='bg-white rounded-lg shadow-lg p-6 grid gap-y-6'>
  <div class="grid auto-1fr items-center gap-2">
    <img src='/logo.png' class='w-12 h-12 sm:w-16 sm:h-16 rounded-full ring-white bg-white'/>
    <div>
      <h1 class='text-1xl sm:text-3xl md:text-4xl font-bold'>pauliescanlon.github.io</h1>
      <p class='text-gray-500 font-light'>A dashboard for GitHub Events</p>
    </div>
  </div>
  <div>
    <p>This site is built using <a class='text-red-400' href="https://astro.build/" target="_blank" rel="noopener">Astro</a> and displays both static and dynamic GitHub user and reposoitory events data.</p>
  <p>Data is sourced at both build and run-time using a Cross Origin <a class='text-red-400' href='https://www.gatsbyjs.com/products/cloud/functions/' target="_blank" rel="noopener">Gatsby Function</a> provided by  <a class='text-red-400' href="https://paulieapi.gatsbyjs.io/" target="_blank" rel="noopener">Paulie API</a></p>
  </div>
</div>
